body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
  color: blanchedalmond;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.container {
  width: 91%;
  max-width: 680px;
  margin: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(82, 59, 26);
  font-size: 20px;
  margin-bottom: 30px;
}

a {
  color: blanchedalmond;
  text-decoration: none;
}

.tile {
  width: 100%;
  background-color: rgb(82, 59, 26);
  margin: 7px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
}

.tile:hover {
  transition: cubic-bezier(0.07, 1.41, .82, 1.41) 0.2;
  transform: scale(1.02);
}

.image-container {
  height: 96px;
  width: 96px;
  border-radius: 48px;
  overflow: hidden;
}

.image-container img {
  height: 100%;
}

.icon {
  margin: 12px 12px;
  width: 30px;
  height: 30px;
}

.icon-about-me {
  margin: 12px 12px;
  width: 30px;
  height: 30px;
}

.about-me {
  margin: 16px 0;
}

.logo-contact-me {
  padding: 3px;
}

svg {
  stroke: blanchedalmond;
}

.collapsible {
  background-color: rgb(82, 59, 26);
  color: blanchedalmond;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border: none;
  border-radius: 17px;
  text-align: center;
  outline: none;
  font-size: 16px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
}

.active, .collapsible:hover {
  transition: cubic-bezier(0.07, 1.41, .82, 1.41) 0.2;
  transform: scale(1.02);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(82, 59, 26);
  border-radius: 17px;
  transform: scale(1.02);
}

.header-certificates {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(82, 59, 26);
  color: blanchedalmond;
  margin: 5px;
  font-size: 20px;
}

.nav-certificates a {
  color: blanchedalmond;
}

.title-certificates {
  text-align: center;
  color: blanchedalmond;
}

.certificates {
  font-size: 35px;
}

.container-certificates {
  text-align: center;
}

.title-certificates {
  color: blanchedalmond;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(82, 59, 26);
  width: 90%;
}

.gallery-certificates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}

.gallery-certificates img {
  width: 40%;
  height: auto;
  object-fit: contain;
  margin: 8px auto 8px auto;
  padding: 0 6px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .gallery-certificates img {
    width: 65%;
  }
}

@media (max-width: 800px) {
  .gallery-certificates img {
    width: 85%;   
  }
}

@media (max-width: 600px) {
  .gallery-certificates img {
    width: 100%;  
  }
}